.bg-header {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1433840496881-cbd845929862?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  width: auto;
  background-position: center;
  text-shadow: 1px 1px var(--light);
  font-family: "Nanum Gothic", sans-serif;
}

.bg-header h1:first-of-type {
  background-color: black;
  color: transparent;
  padding: 1em;
  opacity: 0.75;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
